In [26]:
import pandas as pd

df = pd.read_csv("../data/day_4__data.csv",
                 delimiter="|",
                 names=["id", "points", "card"])

df.head()

,id,points,card
0,Card 1,61 73 92 28 96 76 32 62 44 53,61 17 26 13 92 5 73 29 53 42 62 46 96 32 21 ...
1,Card 2,3 88 36 12 2 9 15 55 21 89,23 39 98 36 2 24 9 3 78 95 55 37 12 61 38 ...
2,Card 3,96 44 52 56 82 89 73 50 9 68,39 71 64 32 13 57 56 67 34 84 51 53 41 16 38 ...
3,Card 4,54 84 76 44 38 33 12 17 93 94,18 21 53 11 7 98 78 92 9 32 29 50 86 23 95 ...
4,Card 5,8 11 33 98 37 80 39 76 53 91,82 35 27 29 50 73 24 4 5 53 93 65 45 69 74 ...

In [36]:
def get_matching_cards(points_cell, card_cell) -> list:
    points = points_cell.strip().split(" ")
    points = set(filter(lambda x : len(x), points))
    cards = card_cell.strip().split(" ")
    cards = (filter(lambda x : len(x), cards))

    matching = []

    for c in cards:
        if c in points:
            matching.append(c)
    
    return matching

def get_card_score(matching) -> int:
    score = 0
    for c in matching:
        if score == 0:
            score = 1
        else:
            score *= 2

    return score

df["matching"] = df.apply(lambda x : get_matching_cards(x["points"], x["card"]), axis=1)
df["score"] = df.apply(lambda x : get_card_score(x["matching"]), axis=1)

df.head(10)

,id,points,card,score,matching
0,Card 1,61 73 92 28 96 76 32 62 44 53,61 17 26 13 92 5 73 29 53 42 62 46 96 32 21 ...,512,"[61, 92, 73, 53, 62, 96, 32, 28, 44, 76]"
1,Card 2,3 88 36 12 2 9 15 55 21 89,23 39 98 36 2 24 9 3 78 95 55 37 12 61 38 ...,512,"[36, 2, 9, 3, 55, 12, 88, 89, 15, 21]"
2,Card 3,96 44 52 56 82 89 73 50 9 68,39 71 64 32 13 57 56 67 34 84 51 53 41 16 38 ...,1,[56]
3,Card 4,54 84 76 44 38 33 12 17 93 94,18 21 53 11 7 98 78 92 9 32 29 50 86 23 95 ...,1,[54]
4,Card 5,8 11 33 98 37 80 39 76 53 91,82 35 27 29 50 73 24 4 5 53 93 65 45 69 74 ...,2,"[53, 98]"
5,Card 6,10 58 39 28 35 79 14 73 64 96,90 86 38 93 74 29 21 14 33 16 85 9 2 1 3 ...,4,"[14, 73, 58]"
6,Card 7,1 96 73 38 64 87 45 25 99 10,11 30 96 43 17 72 24 55 79 64 98 46 25 38 45 ...,512,"[96, 64, 25, 38, 45, 73, 99, 1, 87, 10]"
7,Card 8,24 3 23 50 58 35 57 51 22 2,95 50 22 75 27 57 72 25 12 61 82 16 76 23 51 ...,512,"[50, 22, 57, 23, 51, 24, 58, 3, 35, 2]"
8,Card 9,98 59 30 22 10 69 68 17 48 8,22 75 34 63 7 72 30 73 19 13 35 80 58 84 98 ...,16,"[22, 30, 98, 59, 48]"
9,Card 10,82 32 48 60 17 85 97 22 26 87,33 49 81 29 70 8 74 45 97 68 36 78 83 11 14 ...,2,"[97, 26]"

In [33]:
print(df["score"].sum())

24706

In [63]:
df.columns

Index(['id', 'points', 'card', 'score', 'matching', 'nb_instance'], dtype='object')

In [64]:
df["nb_instance"] = 1
for i in range(len(df)):
    matching_cards = df.loc[df.index == i, "matching"]
    print(matching_cards, len(matching_cards))
    #for j in range(1, len(matching_cards))

#df.head()

InvalidIndexError: [ True False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False]